.App {
  text-align: center;
  font-family: Futura;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 700;
}

.Header {
  width: 50vw;
  padding-top: 5%;
  margin-left: 25vw;
}

.Navigation {
  width: 80vw;
  margin: 5% 40%;
}

