.App {
  text-align: center;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 700;
}

.Header {
  width: 50vw;
  padding-top: 5%;
  margin-left: 25vw;
}

.Navigation {
  width: 50vw;
  margin: 1% 27%;
  display: flex;
}

.Navigation a {
  letter-spacing: 5px;
  width: 20vw;
  font-size: large;
  font-weight: 500;
}

.center-fit img {
  width: 10vw;
}
